.view,
body,
html {
  height: 100%;
}

.view {
  background-image: url("../images/Background_desktopB.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.mask {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.842),
    rgba(0, 0, 0, 0) 55%
  );
}

@media only screen and (max-width: 425px) {
  .view {
    background-image: url("../images/Background_mobile.png");
  }

  .mask {
    background: none;
  }
}

@media only screen and (min-width: 769px) {
  .clear-gutters {
    padding: 0% !important;
    margin: 0% !important;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}

.cover-content {
  margin-left: 6rem;

  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.842),
    rgba(0, 0, 0, 0) 55%
  );
  backdrop-filter: blur(1.5px);
}

.hieght-adjust {
  position: relative;
  top: 5%;
}

@media only screen and (max-width: 425px) {
  .cover-content {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #0000005d;
    backdrop-filter: blur(1.5px);
  }

  .clear-gutters {
    padding: none !important;
    margin: none !important;
    margin-left: none !important;
    margin-right: none !important;
  }
}

/* Link Buttons */
.social-links:hover {
  background-color: #ab975e;
  filter: drop-shadow(3px 0px 10px #6a2c74);
}
.social-links {
  background-color: #3f3f3f;
}

/* Typography */

.font-smythe {
  font-family: "Smythe", cursive;
}

.font-lakki {
  font-family: "Lakki Reddy", cursive;
}

.cover-subDisplay {
  color: #ceddd0;
  font-size: 1.5rem;
  letter-spacing: 0.13rem;
}

.cover-display {
  /* color: rgb(226, 226, 226); */
  color: #d7c690;

  font-size: 6.25rem;
  letter-spacing: 0.1rem;
}

.coming-soon {
  font-size: 2.75rem;
  color: #8d5697;
  line-height: 75%;
  letter-spacing: 0.75rem;
}

.cover-desc {
  color: rgb(226, 226, 226);
}

@media only screen and (max-width: 760px) {
  .cover-subDisplay {
    color: #ceddd0;
    font-size: 1.35rem;
    letter-spacing: 0rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  .hieght-adjust {
    position: relative;
    top: 8.5%;
  }

  .cover-display {
    /* color: rgb(226, 226, 226); */
    color: #d7c690;
    text-align: center;
    margin-left: 0;
    margin-right: 0;

    font-size: 4.75rem;
    letter-spacing: 0rem;
  }
  .coming-soon {
    font-size: 2.5rem;
    color: #8d5697;
    line-height: 55%;
    letter-spacing: 0.25rem;
    text-align: center;
  }

  .bottom-adjust {
    position: relative;
    bottom: 2%;
  }

  .cover-desc {
    color: rgb(226, 226, 226);
  }

  .sub-row {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 425px) {
  .cover-subDisplay {
    font-size: 1.05rem;
    letter-spacing: 0rem;
    margin-bottom: 1rem;
  }
  .hieght-adjust {
    position: relative;
    top: 7.5%;
  }

  .cover-display {
    font-size: 3.75rem;
    letter-spacing: 0rem;
  }
  .coming-soon {
    font-size: 1.75rem;

    line-height: 55%;
    letter-spacing: 0.5rem;
  }

  .sub-row {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 375px) {
  .cover-subDisplay {
    font-size: 1rem;
  }
  .hieght-adjust {
    position: relative;
    top: 7.45%;
  }
  .cover-display {
    font-size: 3.65rem;
  }
  .coming-soon {
    font-size: 1.65rem;
  }
}

@media only screen and (max-width: 320px) {
  .cover-subDisplay {
    font-size: 0.85rem;
  }
  .hieght-adjust {
    position: none;
  }

  .cover-display {
    font-size: 3.05rem;
    letter-spacing: 0rem;
  }
  .coming-soon {
    font-size: 1.55rem;
    letter-spacing: 0.2rem;
    margin-top: 0.4rem !important;
  }

  .sub-row {
    margin-top: 0.25rem;
  }

  .cover-desc {
    font-size: 0.75rem;
  }
}
